<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>
<% if user_signed_in? %>
  

  <table class="table mt-4 table-hover table-bordered " >
  <thead >
    <tr>
      <th scope="col"> Name</th>
      <%# <th scope="col">Last Name</th> %>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">User Id</th>
      <th scope="col-span 2">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
    <tr>
    <% if friend.user == current_user %>
      <td><%= friend.frist_name %>
      <%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter%></td>
      <td><%= friend.user_id%></td>
      <td>
      <%= link_to "Edit | Delete", friend , class:"btn btn-light" %>
      </td>


    <% end %>
      
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add New friend", new_friend_path, class:"btn btn-info" %>
<% else %>
<h3>This is a friend list app. Login to create your friend list.</h3>
 <%= link_to 'Log in', new_user_session_path , class:"btn btn-info"%>

<% end %>

